<section class="index">
  <section class="jumbotron pitch">
    <h1>This is the pitch</h1>
    <p><a class="btn btn-primary btn-lg" role="button">Sign Up</a></p>
  </section>

  <section class="marketing">
    <div class="row">
      <div class="col-lg-4 marketing-module">
        <img class="img-circle" style="width: 140px; height: 140px;" src="http://placehold.it/140x140">
        <h3>Something Cool</h3>
        <p>Scotchy scotch scotch I love scotch.<p>
      </div>
      <div class="col-lg-4 marketing-module">
        <img class="img-circle" style="width: 140px; height: 140px;" src="http://placehold.it/140x140">
        <h3>Something Cool</h3>
        <p>Scotchy scotch scotch I love scotch.<p>
      </div>
      <div class="col-lg-4 marketing-module">
        <img class="img-circle" style="width: 140px; height: 140px;" src="http://placehold.it/140x140">
        <h3>Something Cool</h3>
        <p>Scotchy scotch scotch I love scotch.<p>
      </div>
    </div>
  </section>
</section>